
# Defines for building this project
# To be included in all Makefiles

# This will be used as the base path for installtion
prefix = $(PREFIX)

# Must allways be $(PREFIX)/bin because installation depends on it
# Only placed here because it is a common location for all makefiles
link_path = $(PREFIX)/bin

# If BUILD_STATIC is not defined then shared compilation and linking
# will be performed
# If set to yes then static compilation and linking is performed
static_option =
ifeq ($(BUILD_STATIC), yes)
    static_option = -static
endif

# If ENABLE_THREADING is not defined, then no threading will be compiled into
# the application
# If set to yes then threading support will be compiled into the application
threading_options =
ifeq ($(ENABLE_THREADING), yes)
    threading_options = -fopenmp
endif

# If ENABLE_PROFILING is not defined, then no profiling will be compiled into
# the application
# If set to yes then profiling support will be compiled into the application
profiling_options =
ifeq ($(ENABLE_PROFILING), yes)
    profiling_options = -pg
endif

# ----------------------------------------------------------------------------
# Project specific variables, which are common to each project
project_name = espa-surface-reflectance
espa_project_dir = $(prefix)/$(project_name)

# Algorithm specific variables
ledaps_algorithm = ledaps
ledaps_algorithm_dir = $(espa_project_dir)/$(ledaps_algorithm)
ledaps_bin_install_path = $(ledaps_algorithm_dir)/bin
ledaps_link_source_path = ../$(project_name)/$(ledaps_algorithm)/bin

l8_algorithm = l8_sr
l8_algorithm_dir = $(espa_project_dir)/$(l8_algorithm)

